.uk-divider-vertical-custom {
    width: 1px;
    border: #000000;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid #333;
}

hr.under-header-divider {
    margin-bottom: 5px;
    margin-top: 5px;
}

.clickable:hover {
    cursor: pointer;
    color: #ff69b4;
    font-weight: bold;
}

.clickable {
    color: #0e6dcd;
    text-decoration: underline;
}

.item_description {
    /*max-width: 100px;*/
    /*width: fit-content;*/
}

.item_description p {
    margin: 2px;
}

.item_description h1 {
    margin: 0;
}

.item_card {
    background-color: #feffe5;
}

.item_card .uk-button {
    cursor: pointer;
}

div.photo img {
    max-width: 200px;
    max-height: 100px;
    object-fit: scale-down;
    border-radius: 15px;
}

div.item_card {
    /*max-width: 250px;*/
    /*min-width: 200px;*/
    width: 210px;
    /*height: 350px;*/
}

div.description p {
    margin: 0;
}

.item__buy_button {

}

.item__details_button {

}