.uk-divider-vertical-custom {
    width: 1px;
    border: #000000;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid #333;
}

hr.under-header-divider {
    margin-bottom: 5px;
    margin-top: 5px;
}

.clickable:hover {
    cursor: pointer;
}

.clickable[class*=link] {
    color: #0e6dcd;
    text-decoration: underline;
}

.clickable[class*=link]:hover {
    color: #ff69b4;
    font-weight: bold;
}

.item_description {
}

.item_description p {
    margin: 2px;
}

.item_description h1 {
    margin: 0;
}

.item_card h1::first-letter {
    text-transform: capitalize;
}

.item_card h3::first-letter {
    text-transform: capitalize;
}

.item_card {
    background-color: #feffe5;
}

div.photo img {
    max-width: 200px;
    max-height: 100px;
    object-fit: scale-down;
    border-radius: 15px;
}

div.item_card {
    width: 210px;
}

div.description p {
    margin: 0;
}

.item__buy_button {
    border-radius: 10px 0 0 10px;
}

.item__details_button {
    border-radius: 0 10px 10px 0;
}

.footer {
    border-top: 1px solid #e5e5e5;
}

.details_modal .uk-button {
    border-radius: 8px;
}